#background{
    background:  var(--theme-colors-toolbar) !important;
}

tab-item{
    margin-top: 3px;
    margin-bottom: 1px;
}
tab-item tab-closebox{
    display: none !important;
}
tab-item tab-favicon{
    filter: grayscale(85%) invert(75%) sepia(8%) saturate(862%) hue-rotate(173deg) brightness(88%);
    order: 10 !important;
    margin-right: 6px !important;
    transform: scale(120%) translateX(0px) !important;
}
